@media screen and (min-width:0px) and (max-width:480px){
    .d-flex{
        flex-flow: column wrap;
        display:block;
    }
    .col{
        width:100%;
        margin:5px;
    }
    .ml-auto,.mr-auto{
        width:100%;
        display:block;
    }
    .head-ul{
        width:100%;
    }
    .head-ul li{
        float:none;
        display:block;
        width:50%;
        margin:25px 0px;
    }
}
@media screen and (min-width:480px) and (max-width:700px){
    .d-flex{
        flex-flow:column wrap;
    }
   
    .order{
        width:100%;
        float:none;
        display:block;
    }
}